.intro {
    background-color: white;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;
      
        .imgContainer{
            width: 700px;
            height: 700px;

            img{
                width: 100%;
            }
        }

    }

    .right{
        flex: 0.5;
        
    }
}